name: torch_light
description: A flutter plugin to control the device torch.
version: 0.0.1
author: David Serrano Canales <svprdga>
homepage: https://appblaze.io

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.svprdga.torchlight
        pluginClass: TorchLightPlugin
      ios:
        pluginClass: TorchLightPlugin
